<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deefrent.rnd.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@style/Theme.KCBAgentField">
        <!--    <activity
                android:name="com.ekenya.rnd.common.ui.bixolon.BixolonPrinterActivity"
                android:exported="true"
                android:screenOrientation="portrait" />-->
    </application>
</manifest>